* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
}



.head{
    width: 100%;
    height: 100px;
}
.header{
    float: left;
    width: 100%;
    height: 170px;
    background-color: rgba(34, 124, 188, 0.75);
    position: absolute;
    /* 参照物位置 */
    z-index: 9;
} 
.head_name{
    width: 15%;
    font-size: 20px;
    line-height: 40px;
    float: left;
    /* color: white; */
    font-weight: 900;
    
}
.head_name a{
    text-decoration: none;
    display:flex;
    color: white;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.head_name a:hover{
    background-color: rgb(83, 117, 228);
}
.dropdown {
    background-color:rgba(34, 124, 188, 0.75) ;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    transition-delay: 0.3s;
}
.dropdown{
    display: block;
}

.head_name a:hover+.dropdown,.dropdown:hover{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}



/* 头部导航 */
.top_back {
    background: linear-gradient(to right, rgba(208, 214, 113, 0.618), rgb(130, 233, 249));
    background-size: cover;
    z-index: 2;
    height: 170px;
    top: 165px;
    position: relative;
}

.top_right h1 {
    margin-left: 1100px;
    word-spacing: 8px;
    letter-spacing: 6px;
    color: rgb(0, 0, 0);
    z-index: 20;
    position: absolute;
    margin-top: 40px;
}

.top_two ul {
    width: 74%;
    height: 75px;
    float: left;
    margin-top: -170px;
}

.top_two ul li {
    width: 10%;
    font-size: 20px;
    margin-top: 130px;
    margin-left: 160px;
    margin-right: -120px;
    display: inline-block;
    font-weight: 600;
}

.top_two ul li:nth-child(1) {
    margin-right: -165px;
}

.top_two ul li:nth-child(3) {
    margin-left: 45px;
    margin-right: -165px;
}

.top_two ul li:nth-child(5) {
    margin-left: 45px;
}

.top_two ul li a {
    color: rgb(0, 0, 0);
}

.top_two ul li a:hover {
    cursor: pointer;
    z-index: 10;
    color: rgb(83, 117, 228) !important;
}

.top_two ul li a.active {
    color: rgb(83, 117, 228) !important;
}

.context h3 {
    margin-left: 470px;
    color: rgba(58, 58, 56, 0.984);
    margin-top: 220px;
    margin-bottom: 15px;
}

.context {
    border: 0px solid yellow;
    width: 1200px;
    margin-left: 128px;
    color: rgba(42, 42, 40, 0.921);
    line-height: 35px;
}

.context p {
    border: 0px solid yellow;
    width: 150px;
    font-weight: 800;
    margin-left: 32px;
}

.context p:nth-child(7) {
    border: 0px solid yellow;
    width: 300px;
    font-weight: 800;
    margin-left: 550px;
    margin-top: 50px;
}

/* 医院 logo */
.logo p {
    margin-left: 200px;
    margin-top: 250px;
    color: rgba(42, 42, 40, 0.921);
    font-weight: 600;
}

.logo img {
    height: 300px;
    width: 300px;
    margin-left: 220px;
}

.logo ul {
    margin-top: -300px;
    margin-left: 650px;
    float: left;
    text-align: justify;
}

.logo ul li {
    color: rgba(42, 42, 40, 0.921);
}

.logo ul p {
    margin-top: 20px;
}

/* 医院院徽 */
.yuanhui p {
    margin-left: 200px;
    margin-top: 20px;
    color: rgba(42, 42, 40, 0.921);
    font-weight: 600;
}

.yuanhui img {
    height: 150px;
    width: 650px;
    margin-top: 25px;
    margin-left: 220px;
}

/* 医院功能定位 */
.dingwei p {
    margin-left: 200px;
    margin-top: 30px;
    color: rgba(42, 42, 40, 0.921);
    font-weight: 600;
}

.jieshao {
    text-align: justify;
    width: 1000px;
    height: 200px;
    margin-left: 220px;
    line-height: 30px;
    margin-top: 20px;
    color: rgba(42, 42, 40, 0.921);
}

/* 医院宗旨 */
.zongzhi p {
    margin-left: 200px;
    margin-top: -80px;
    color: rgba(42, 42, 40, 0.921);
    font-weight: 600;
}

.neirong {
    text-align: justify;
    width: 1000px;
    height: 200px;
    margin-left: 220px;
    line-height: 30px;
    margin-top: 20px;
    color: rgba(42, 42, 40, 0.921);
}

/* 医院院训 */
.Hospitaltraining p {
    margin-left: 200px;
    margin-top: -80px;
    color: rgba(42, 42, 40, 0.921);
    font-weight: 600;
}

.training {
    text-align: justify;
    width: 1000px;
    height: 200px;
    margin-left: 220px;
    line-height: 30px;
    margin-top: 20px;
    color: rgba(42, 42, 40, 0.921);
}

/* 医疗设备 */
.equipment {
    width: 100%;
    margin-top: 220px;
}

.equipment ul li {
    display: inline-block;
}

.out-one img {
    width: 350px;
    height: 300px;
    margin-left: 110px;
    cursor: pointer;
}

.out-one p {
    margin-left: 110px;
    font-weight: 600;
    transition: opacity 0.4s linear;
}

.hidden-one {
    position: absolute;
    background: rgba(37, 37, 37, 0.896);
    margin-left: 110px;
    width: 350px;
    height: 300px;
    opacity: 0;
    color: #ffffff;
    z-index: 1;
}

.hidden-one p {
    text-align: center;
    margin-top: 150px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px;
}

.hidden-one::before {
    background: rgb(83, 117, 228);
    width: 6px;
    height: 23px;
    margin-top: 30px;
    left: 0;
    position: absolute;
    content: '';
}

.hidden-one:hover {
    opacity: 1;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    cursor: pointer;
}

/* 第二排 */
.two {
    margin-top: 50px;
}

.out-two img {
    width: 350px;
    height: 300px;
    margin-left: 110px;
    cursor: pointer;
}

.out-two p {
    margin-left: 110px;
    font-weight: 600;
    transition: opacity 0.4s linear;
}

.hidden-two {
    position: absolute;
    background: rgba(37, 37, 37, 0.896);
    margin-left: 110px;
    width: 350px;
    height: 300px;
    opacity: 0;
    color: #ffffff;
    z-index: 1;
}

.hidden-two p {
    text-align: center;
    margin-top: 150px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px;
}

.hidden-two::before {
    background: rgb(83, 117, 228);
    width: 6px;
    height: 23px;
    margin-top: 30px;
    left: 0;
    position: absolute;
    content: '';
}

.hidden-two:hover {
    opacity: 1;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

/* 第三排 */
.three {
    margin-top: 50px;
}

.out-three img {
    width: 350px;
    height: 300px;
    margin-left: 110px;
    cursor: pointer;
}

.out-three p {
    margin-left: 110px;
    font-weight: 600;
    transition: opacity 0.4s linear;
}

.hidden-three {
    position: absolute;
    background: rgba(37, 37, 37, 0.896);
    margin-left: 110px;
    width: 350px;
    height: 300px;
    opacity: 0;
    color: #ffffff;
    z-index: 1;
}

.hidden-three p {
    text-align: center;
    margin-top: 150px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px;
}

.hidden-three::before {
    background: rgb(83, 117, 228);
    width: 6px;
    height: 23px;
    margin-top: 30px;
    left: 0;
    position: absolute;
    content: '';
}

.hidden-three:hover {
    opacity: 1;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    cursor: pointer;
}

/* 局部跳转 */
.nav-item {
    width: 10%;
    font-size: 20px;
    margin-top: 130px;
    margin-left: 160px;
    margin-right: -120px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}

.nav-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-item.active a {
    color: rgb(83, 117, 228);
}

.section {
    display: none;
}

.section.active {
    display: block;
}
/*侧边栏*/
.right {
    position: fixed;
    width: 100; 
    height: 400px;
    right: 0; 
    top: 170px; /* 固定在页面顶部 */
    border: 2px solid  rgb(83, 117, 228);
    background-color: white; 
    z-index: 100; 
    transition: width 0.3s ease;
}
.right_on {
    margin: 20px; /* 适当的内边距，调整内容位置 */
}
.right_on ul {
    list-style-type: none;
    padding: 0;
}

.right_on ul li {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 25px;
    line-height: 30px;
    text-align: center;
}
.right_on ul li a img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.right_on ul li a {
    display: block;
    text-decoration: none;
    color: inherit;
}
/*精灵图*/
.right_on .jingling1{
    background-image: url("../img/cebianlan.jpg");
    background-position: -1015px 1007px;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-left: -25px;
    display: inline-block;
}
.right_on .jingling2{
    background-image: url("../img/cebianlan.jpg");
    background-position: -935px 1014px;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-left: -25px;
    display: inline-block;
}


/* 跳动动画 */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

 /* 收起按钮样式 */
 .collapse-btn {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    color: black;
    background-color: white;
    border: 2px solid rgb(22, 34, 205);
    width: 20px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* 鼠标悬停时图片跳动和字体变色 */
.right_on ul li:hover img,
.right_on ul li:hover .jingling1,
.right_on ul li:hover .jingling2 {
    animation: bounce 0.5s;
}

.right_on ul li:hover a {
    color: rgb(83, 117, 228);
}


/*活动底部*/
.activity_bottom{
    background: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.activity_bottom .one{
    border-top: 1px solid rgba(50, 49, 49, 0.704);
    margin-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid rgba(50, 49, 49, 0.704);
}
.activity_bottom .one p{
    color: rgb(97, 94, 94);
    margin-top: 15px;
}
.activity_bottom .two{
    margin-top: 9px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}